/* Border Animation */

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.container::after, .container::before {

    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle), transparent 70%, rgb(21, 0, 255),rgb(255, 0, 0), blue);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    padding: 5px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.container::before{
    filter: blur(3rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}